*{
    margin:0;
    padding: 0;
    font-family:"Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
   background-image: url(./images/xRDwZf.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
    margin-top: 5%;
    overflow-y: hidden;
}
.container{
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    background: rgba(255, 255,255, .1);
    backdrop-filter:blur(30px)
}
.search-box{
    position: relative;
    width: 100%;
    height: 55px;
    
}
.search-box .map{
    position: absolute;
    left: 10px;
    font-size: 20px;
}
.search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background:transparent ;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
    color:#fff;

}
.search-box input::placeholder{
    color: white;
}

.search-box button{
    position: absolute;
    right:0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    padding: 0 40px 0 5px;
    cursor: pointer;
}
.weather-box img{
    width: 60%;
}
.weather-box .temparature{
    position: relative;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;

}
 .weather-box span{
    position: absolute;
    margin-left: 8px;
    font-size: 20px;
 }
 .weather-box .description{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
 }
 .weather-details{
    position: absolute;
    bottom: 40px;
    left:0;
    width:100%;
    padding: 0 20px;

 }
 /* .weather-details .humidity,
 .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
 } */
 .not-found{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    text-align: center;

 }
 .not-found p{
    font-size: 22px;
    font-weight: 500px;
    margin-top: 12px;
 }
 .not-found img{
    width: 65%;
    margin-top: 150px;
 }